* {
    /* border: 1px solid red; */
    /* font-family: 'DM Sans', sans-serif; */
    font-family: 'Tinos', serif;
    font-size: 16px;
}


@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

/* header for mobile */
@media(max-width:480px) {
    .text_block_nonmobile {
      display:none;
    }

    #presentation {
        width: 100%;
        height: 30rem;
        overflow: hidden;
        background-image: url('./IMG/front_photo.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        }

    .text_block_mobile {
        position: relative;
        float: left;
        text-align: center;
        margin-top: 2%;
        width: 100%;
        text-shadow: 3px 3px 3px black, 3px 3px 3px black, 3px 3px 3px black, 3px 3px 3px black;
    }
    
    .text_block_mobile h1 {
        color:#F2F2F2;
        font-size: 4rem;
        font-weight: 700;
        /* text-decoration: underline #5196A6; */
    }
    
    .text_block_mobile h2 {
        color: #F2F2F2;
        font-size: 2rem;
        font-weight: 400;
        font-style: italic;
        /* text-decoration: underline #5196A6; */
    }
    .header-nav{
        position: relative;
        list-style: none;
        text-align: center;
        margin-top: 20rem;
    }
    
    .header-nav li{
        display: inline-block;
    }
    
    .header-nav li a{
        color: #F2F2F2;
        font-size: 1rem;
        display: block;
        padding: 0.75rem 2rem;
        border: 1px solid #fff;
        border-radius: 6px;
        margin: 0 8px;
        transition: all 0.3s;
        text-shadow: 3px 3px 3px black, 3px 3px 3px black, 3px 3px 3px black, 3px 3px 3px black;
    }
    
    .header-nav li a:hover{
        background: #5196A6;
        color: #F2F2F2;
        border: 1px solid #5196A6;
        text-shadow: none;
    }

  } 

/* header for non mobile */
  @media(min-width:481px) {
.text_block_mobile {
    display: none;
}

#presentation {
    width: 100%;
    height: 800px;
    overflow: hidden;
    background-image: url('./IMG/front_photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    }

.text_block_nonmobile {
    position: relative;
    float: left;
    text-align: center;
    margin-top: 2%;
    width: 100%;
    text-shadow: 3px 3px 3px black, 3px 3px 3px black, 3px 3px 3px black, 3px 3px 3px black;
}

.text_block_nonmobile h1 {
	color:#F2F2F2;
	font-size: 76px;
	font-weight: 700;
    /* text-decoration: underline #5196A6; */
}

.text_block_nonmobile h2 {
	color: #F2F2F2;
	font-size: 36px;
    font-weight: 400;
    font-style: italic;
    /* text-decoration: underline #5196A6; */
}

.header-nav{
    position: relative;
	list-style: none;
    text-align: center;
    margin-top: 600px;
}

.header-nav li{
	display: inline-block;
}

.header-nav li a{
	color: #F2F2F2;
	font-size: 20px;
	display: block;
	padding: 12px 40px;
	border: 1px solid #fff;
	border-radius: 6px;
	margin: 0 8px;
	transition: all 0.3s;
    text-shadow: 3px 3px 3px black, 3px 3px 3px black, 3px 3px 3px black, 3px 3px 3px black;
}

.header-nav li a:hover{
	background: #5196A6;
	color: #F2F2F2;
	border: 1px solid #5196A6;
    text-shadow: none;
}
  }

/* About my works for mobile*/
@media(max-width:480px) {
.main-title-text{
	text-align: center;
	margin: 2rem auto;   
}

.main-title h2{
	color: white;
	font-size: 2rem;
    font-weight: 700;
}

.main-title p{
	font-size: 1rem;
	color:white;
}

.main-title-text ul {
    list-style-type: square;
    list-style-position: inside;
}
.main-title-text li{
	font-size: 1.750rem;
	color:white;
    margin: 5% auto;
}

#photos {
    /* place-content: center; */
    background: #5196A6;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}
}
/* About my works for non mobile*/
@media(min-width:481px) {
    .main-title-text{
        text-align: left;
        margin: 32px auto;
        width: 50%;
        margin-left: 35%;
    }
    
    .main-title h2{
        color: white;
        font-size: 32px;
        font-weight: 700;
    }
    
    .main-title p{
        font-size: 18px;
        color:white;
    }
    
    .main-title-text ul {
        list-style-type: square;
        list-style-position: inside;
    }
    .main-title-text li{
        font-size: 28px;
        color:white;
        margin: 5% auto;
    }
    
    #photos {
        /* place-content: center; */
        background: #5196A6;
        padding-left: 5%;
        display: flex;
        justify-content: space-between;
        min-height: 50vh;
    }
    }

/* About me for mobile*/
@media(max-width:960px) {
.about_desc {
    display: none;
}
.aboutus{
	padding: 2rem 0;   
}

.main-title-about {
	text-align: center;
    padding-bottom: 6rem
}

.main-title-about h2{
	color: #22313f;
	font-size: 2.5rem;
}

.main-title-about p{
	font-size: 1rem;
	color: #22313f;
}

.about_me_container {
    width: 100%;
    height: 28rem;
    background-color: #f4605c;
    display: flex;
    justify-content: space-between;
}

.polaroid {
    margin: 0.5rem;
    display: flex;
    padding: 0.5rem;
    background: #f4605c;

}

.polaroid a {
    font-family: 'Shantell Sans', cursive;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    height: 90%;
    overflow: hidden;
    background-color: #F2F2F2;
  }
  .polaroid a:after {
    color: #333;
    font-size: 2rem;
    content: attr(title);
    position: relative;
    top: 0.5rem;
  }

  .polaroid img {
    display: block;
    width: 15rem;
    border: 5px solid #F2F2F2;
  }

.about_desc_mobile {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2% 2%;
}

.about_desc_mobile h3 {
	color: white;
	font-size: 2rem;
    font-weight: 700;
} 

.about_desc_mobile p {
	font-size: 1.115rem;
	color:white;
}

.about-social a{
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	background: white;
	font-size: 1.5rem;
    color: #f4605c;
	text-align: center;
	border-radius: 100%;
    padding: 3px;
	transition: all 0.3s;
}

}

/* About me for non mobile*/
@media(min-width:961px) {
    .about_desc_mobile {
        display: none;
    }
    .aboutus{
        padding: 50px 0;   
    }
    
    .main-title-about {
        text-align: center;
        padding-bottom: 100px;
    }
    
    .main-title-about h2{
        color: #22313f;
        font-size: 48px;
    }
    
    .main-title-about p{
        font-size: 20px;
        color: #22313f;
    }
    
    .about_me_container {
        width: 100%;
        height: 460px;
        background-color: #f4605c;
        display: flex;
        justify-content: space-between;
    }
    
    .polaroid {
        margin-right: 5%;
    }
    
    .polaroid a {
        background: #ffffff;
        display: inline-block;
        margin: -30px 75px 30px;
        padding: 15px 15px 30px;
        text-align: center;
        text-decoration: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
        transition: all .20s linear;
        z-index: 0;
        position: relative;
        font-family: 'Shantell Sans', cursive;
      }
      .polaroid a:after {
        color: #333;
        font-size: 25px;
        content: attr(title);
        position: relative;
        top: 15px;
      }
    
      .polaroid img {
        display: block;
        width: 350px;
      }
      .polaroid a:hover {
        transform: scale(1.2);
        z-index: 10;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
      }
    
    .about_desc {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 2% 2%;
    }
    
    .about_desc h3 {
        color: white;
        font-size: 32px;
        font-weight: 700;
    } 
    
    .about_desc p {
        font-size: 20px;
        color:white;
    }
    
    .about-social a{
        display: inline-block;
        width: 42px;
        height: 42px;
        background: white;
        font-size: 40px;
        color: #f4605c;
        text-align: center;
        border-radius: 100%;
        padding: 3px;
        transition: all 0.3s;
    }
    
    .about-social a:hover{
        background: #5196A6;
    }
    }

/* Contacts for mobile */
@media(max-width:960px) {
.contact-block {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    padding: 1rem   ;
}

.form-control {
    border-style: none;
    background-color:#f4605c;
    line-height: 30px;
    font-size: 24px;
    color: #FFFFFF;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    border: 3px solid #333;
    border-radius: 5px;
    
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #fffefea2;
 }

.form-control:hover,
.form-control:active {
  background-color: initial;
  background-position: 0 0;
  color:black;
}

.btn-contact {
    width: 9.375rem;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    background: #f4605c;
    border: 1px solid #333;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1rem;
    min-height: 1rem;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.btn-contact:hover,
.btn-contact:active {
  background-color: initial;
  background-position: 0 0;
  color:#f4605c;
}

.btn-contact:active {
  opacity: .5;
}

.contact-ikons {
    margin-left: 20%;
}

.icon-box{
	width: 2rem;
	height: 2rem;
	background: white;
	font-size: 2.5rem;
    color: #f4605c;
	text-align: center;
	border-radius: 100%;
    padding: 3px;
}

.contact-info-single {
    display: flex;
    gap: .5rem;
    text-align: center;
}

.contact-info-single p {
    font-size: 1.5rem;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    padding: 0.5rem
}
}

/* Contacts for non mobile */
@media(min-width:961px) {
    .contact-block {
        display: grid;
        gap: 5px;
        grid-template-columns: 0.5fr 1.2fr 0.8fr 0.5fr;
        justify-content: space-around;
        padding-bottom: 50px;
    }
    
    .contact-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    
    }
    
    .contact-ikons {
        margin-left: 30px;
    }
    
    .form-control {
        border-style: none;
        background-color:#f4605c;
        line-height: 30px;
        font-size: 24px;
        color: #FFFFFF;
        font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
        border: 3px solid #333;
        border-radius: 5px;
        
    }
    ::-webkit-input-placeholder { /* WebKit browsers */
        color: #fffefea2;
     }
    
    .form-control:hover,
    .form-control:active {
      background-color: initial;
      background-position: 0 0;
      color:black;
    }
    
    .btn-contact {
        width: 150px;
        text-align: center;
        margin: 0 auto;
        font-size: 20px;
        background: #f4605c;
        border: 1px solid #333;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
        font-size: 16px;
        font-weight: 800;
        line-height: 16px;
        min-height: 40px;
        outline: 0;
        padding: 12px 14px;
        text-align: center;
        text-rendering: geometricprecision;
        text-transform: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
    }
    
    .btn-contact:hover,
    .btn-contact:active {
      background-color: initial;
      background-position: 0 0;
      color:#f4605c;
    }
    
    .btn-contact:active {
      opacity: .5;
    }
    
    
    .icon-box{
        width: 42px;
        height: 42px;
        background: white;
        font-size: 40px;
        color: #f4605c;
        text-align: center;
        border-radius: 100%;
        padding: 3px;
        transition: all 0.3s;
    }
    
    .contact-info-single {
        display: flex;
        gap: 10px;
        text-align: center;
    }
    
    .contact-info-single p {
        font-size: 20px;
        font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
        padding: 20px 0;
    }
    }

/* Site info for mobile*/
@media(max-width:960px) {
.site-info {
    background-color: #5196A6;
    border-top: 1px solid #f4605c;
    display: flex;
    justify-content: center;
    height: 4rem;
    align-items: center;
}

.site-info p {
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 1rem;
    opacity: 0.8;
    text-align: center;   
    font-style: italic;
}   
}

/* Site info for non mobile*/
@media(min-width:961px) {
    .site-info {
        background-color: #5196A6;
        border-top: 1px solid #f4605c;
        display: flex;
        justify-content: center;
        height: 70px;
        align-items: center;
    }
    
    .site-info p {
        font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
        font-size: 18px;
        opacity: 0.8;
        text-align: center;   
        font-style: italic;
    }   
    }